# Performance test results

Brief description of the used server: HTTP/1.1 

Brief description of my computer: 
  Model Name:	MacBook Air
  Model Identifier:	Mac14,2
  Model Number:	Z15W0003HCH/A
  Chip:	Apple M2
  Total Number of Cores:	8 (4 performance and 4 efficiency)
  Memory:	16 GB
  System Firmware Version:	8422.141.2
  OS Loader Version:	8422.141.2
  Serial Number (system):	N7G7VNP6QD
  Hardware UUID:	E5D4D0B7-D785-5066-A815-5C849CA2ABBC
  Provisioning UDID:	00008112-000E18211407401E
  Activation Lock Status:	Enabled


## Get assignment API

http_reqs: 28761 
http_req_duration - median: 1.56ms
http_req_duration - 99th percentile: 4.83ms


## Submit code API

http_reqs: 1204 
http_req_duration - median: 30.44ms
http_req_duration - 99th percentile: 160.82ms 



